<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.an001code.blog.mapper.ArticleMapper">

    <select id="getArticleList" resultType="com.github.an001code.blog.pojo.Article">
           select a.*, t.tag_name
           from article a
           left join tag t
           on a.tag_id = t.tag_id
           <where>
               <if test="query != null and query != ''">
                   a.title like concat('%',#{query},'%')
               </if>
               <if test="articleId != null">
                   and a.article_id = #{articleId}
               </if>
               <if test="userId != null">
                   and a.user_id = #{userId}
               </if>
               <if test="tag != null and tag != ''">
                   and t.tag_name = #{tag}
               </if>
               <if test="status != null">
                   and a.status = #{status}
               </if>
               <if test="isDeleted != null">
                   and a.is_deleted = #{isDeleted}
               </if>
               <if test="begin != null and end != null">
                   and DATE(a.updated_at) between #{begin} and #{end}
               </if>
           </where>
           order by a.updated_at desc
    </select>

    <select id="getFavortieList" resultType="com.github.an001code.blog.pojo.Article">
        select * from article
        where 1=1
        <if test="articleIdList != null and articleIdList.size() > 0">
            and article_id in
            <foreach collection="articleIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="articleIdList == null or articleIdList.size() == 0">
            and 1=0  <!-- 如果没有ID，返回空结果 -->
        </if>
    </select>

    <select id="countArticles" resultType="java.lang.Long">
        select count(a.articleId)
        from article a
        left join tag t
        on a.tag_id = t.tag_id
        <where>
            <if test="query != null and query != ''">
                a.title like concat('%',#{query},'%')
            </if>
            <if test="articleId != null">
                and a.article_id = #{articleId}
            </if>
            <if test="userId != null">
                and a.user_id = #{userId}
            </if>
            <if test="tag != null and tag != ''">
                and t.tag_name = #{tag}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="isDeleted != null">
                and a.is_deleted = #{isDeleted}
            </if>
            <if test="begin != null and end != null">
                and DATE(a.updated_at) between #{begin} and #{end}
            </if>
        </where>
        order by a.updated_at desc
    </select>


    <insert id="insert">
        insert into article (user_id,tag_id,title,content,summary,cover_image,status,published_at)
        values (#{userId},#{tagId},#{title},#{content},#{summary},#{coverImage},#{status},#{publishedAt})
    </insert>

    <update id="update">
        update article
        <set>
            <if test="tagId != null">
                tag_id = #{tagId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="summary != null">
                summary = #{summary},
            </if>
            <if test="coverImage != null">
                cover_image = #{coverImage},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount},
            </if>
            <if test="favoriteCount != null">
                favorite_count = #{favoriteCount},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount},
            </if>
            <if test="publishedAt != null">
                published_at = #{publishedAt}
            </if>
        </set>
         where article_id = #{articleId}
    </update>
    <update id="logicDelete">
        update article set is_deleted = 1
        where article_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    <update id="decreaseCommentCounts">
        UPDATE article
        SET comment_count = GREATEST(comment_count - #{count}, 0)
        WHERE article_id = #{articleId}
    </update>
</mapper>